* {
    font-family: 'Roboto', sans-serif;
}

.logo,
.main-sidebar {
    background: #2d2d2d !important;
}
.main-header, 
.navbar {
    background: #2d2d2d !important;
}
.main-sidebar li {
    border-bottom: 1px solid #222;
    -webkit-box-shadow: 0px 1px 0px 0px #444;
    -moz-box-shadow:    0px 1px 0px 0px #444;
    box-shadow:         0px 1px 0px 0px #444;
}

.sidebar .header {
    background: #111 !important;
    color: #fff !important;
}

.content-wrapper {
    background: #fff !important;
}

#wrapper {
    float: right;
    width: calc( 100% - 300px );
    background: #fff !important;
}

/* scroll do sidebar */
.sidebar::-webkit-scrollbar { display: none; }
.sidebar::-webkit-scrollbar-track { display: none; }
.sidebar::-webkit-scrollbar-thumb { display: none; }

@media only screen and (max-width : 992px) {
    #wrapper {
        width: 100%;
    }
}